streamlit==1.32.0
pandas
chromadb==0.5.5
sentence-transformers
scikit-learn
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-text-splitters
pypdf
docx2txt
python-dotenv
groq
torch
transformers
faiss-cpu
numpy==1.26.4
protobuf==4.25.3