streamlit
chromadb
sentence-transformers
scikit-learn
pdfplumber
python-docx
docx2txt
pandas
numpy
groq
python-dotenv
torch
transformers
langchain
langchain-community
langchain-core
langchain-groq
pypdf
faiss-cpu