streamlit
chromadb==0.5.5
sentence-transformers
scikit-learn
pypdf
python-docx
docx2txt
python-dotenv
groq
transformers
numpy
pandas

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38

huggingface-hub